body{
    background: lightgray;
}

.post{
    height:500px;
    width:400px;
    background: white;
    margin:auto;
    margin-top: 50px;
}

.post-header{
    background: white;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.nombre-post{
    align-items:center;
    display:flex;
    padding-left: 10px;
}

.poster h2,.poster p{
    margin-left: 10px;
}

.nombre-post h2{
    margin-bottom: 0%;
}

.nombre-post p{
    margin-top: 0%;
}

.threedot{
    padding-right: 10px;
}

.post-footer div{
    background: white;
}

.footer-icon{
    align-items:center;
    display:flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

.footer-comment{
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.footer-comment p{
    margin-bottom: 0%;
}

.footer-likes{
    padding-left: 10px;
}
